

  <div class="container">
    <div class="title">YAY! It’s BOGO</div>

    <!-- 1 Unit Option -->
    <div class="option" *ngIf="showBox1" (click)="toggleBoxes(1)">
      <label>
        <input type="radio" name="bogo">
        <div class="content">
          <div>
            <span style="font-weight: bold;">1 Unit</span>
            <span class="discount">10% Off</span>
          </div>
          <div>Standard Price</div>
        </div>
      </label>
      <div class="price-info">
        <div class="price">$10.00 USD</div>
        <div class="original-price">$24.00 USD</div>
      </div>
    </div>

    <div class="option-two" *ngIf="showBox2" (click)="toggleBoxes(2)">
      <label>
        <input type="radio" name="bogo" checked />
        <span><strong>1 Unit</strong> <span class="discount">10% Off</span></span>
        <div>Standard Price</div>
      </label>
      <div class="price-info">
        <div class="price">$10.00 USD</div>
        <div class="original-price">$24.00 USD</div>
      </div>

      <table style="border-spacing: 15px;">
        <tr>
          <th></th>
          <th>Size</th>
          <th>Colour</th>
        </tr>
        <tr>
          <td>#1</td>
          <td>
            <select>
              <option>S</option>
              <option>M</option>
              <option>L</option>
            </select>
          </td>
          <td>
            <select>
              <option>Black</option>
              <option>White</option>
              <option>Red</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>#2</td>
          <td>
            <select>
              <option>S</option>
              <option>M</option>
              <option>L</option>
            </select>
          </td>
          <td>
            <select>
              <option>Colour</option>
              <option>Black</option>
              <option>White</option>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <!-- 2 Unit Option -->
    <div class="option" *ngIf="showBox3" (click)="toggleBoxes(3)">
      <div class="most-popular">MOST POPULAR</div>
      <label>
        <input type="radio" name="bogo">
        <div class="content">
          <div>
            <span style="font-weight: bold;">2 Unit</span>
            <span class="discount">20% Off</span>
          </div>

        </div>
      </label>
      <div class="price-info">
        <div class="price">$18.00 USD</div>
        <div class="original-price">$24.00 USD</div>
      </div>
    </div>
    <div class="option-two" *ngIf="showBox4" (click)="toggleBoxes(4)">
      <div class="most-popular">MOST POPULAR</div>
      <label>
        <input type="radio" name="bogo" checked />
        <span><strong>2 Unit</strong> <span class="discount">20% Off</span></span>
      </label>
      <div class="price-info">
        <div class="price">$18.00 USD</div>
        <div class="original-price">$24.00 USD</div>
      </div>

      <table style="border-spacing: 15px;">
        <tr>
          <th></th>
          <th>Size</th>
          <th>Colour</th>
        </tr>
        <tr>
          <td>#1</td>
          <td>
            <select>
              <option>S</option>
              <option>M</option>
              <option>L</option>
            </select>
          </td>
          <td>
            <select>
              <option>Black</option>
              <option>White</option>
              <option>Red</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>#2</td>
          <td>
            <select>
              <option>S</option>
              <option>M</option>
              <option>L</option>
            </select>
          </td>
          <td>
            <select>
              <option>Colour</option>
              <option>Black</option>
              <option>White</option>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <!-- 3 Unit Option -->
    <div class="option" *ngIf="showBox5" (click)="toggleBoxes(5)">
      <label>
        <input type="radio" name="bogo" checked>
        <div class="content">
          <div>
            <span style="font-weight: bold;">3 Unit</span>
            <span class="discount">30% Off</span>
          </div>

        </div>
      </label>
      <div class="price-info">
        <div class="price">$24.00 USD</div>
        <div class="original-price">$24.00 USD</div>
      </div>
    </div>


    <div class="option-two" *ngIf="showBox6" (click)="toggleBoxes(6)">

      <label>
        <input type="radio" name="bogo" checked />
        <span><strong>3 Unit</strong> <span class="discount">30% Off</span></span>
      </label>
      <div class="price-info">
        <div class="price">$24.00 USD</div>
        <div class="original-price">$24.00 USD</div>
      </div>

      <table style="border-spacing: 15px;">
        <tr>
          <th></th>
          <th>Size</th>
          <th>Colour</th>
        </tr>
        <tr>
          <td>#1</td>
          <td>
            <select>
              <option>S</option>
              <option>M</option>
              <option>L</option>
            </select>
          </td>
          <td>
            <select>
              <option>Black</option>
              <option>White</option>
              <option>Red</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>#2</td>
          <td>
            <select>
              <option>S</option>
              <option>M</option>
              <option>L</option>
            </select>
          </td>
          <td>
            <select>
              <option>Colour</option>
              <option>Black</option>
              <option>White</option>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <!-- Free Delivery & Total -->
    <div class="summary">
      <div style="color:#ff5c78;">Free Delivery</div>
      <div class="total">Total: $18.00 USD</div>
    </div>

    <button class="btn">+ Add to Cart</button>
  </div>








